/* FRAMEWORK per layout in colonne*/
/* proprietà star */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* clearfix */
.row::after {
  display: table;
  content: "";
  clear: both;
}
/* float delle colonne */
[class^="col-"] {
  float: left;
}
/* centratura container */
.container {
  margin: 0 auto;
}
/* dimensioni colonne */
.col-1 {
  width: calc(100% / 12);
}
.col-2 {
  width: calc(100% / 12 * 2);
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: calc(100% / 12 * 4);
}
.col-5 {
  width: calc(100% / 12 * 6);
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: calc(100% / 12 * 7);
}
.col-8 {
  width: calc(100% / 12 * 8);
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: calc(100% / 12 * 10);
}
.col-11 {
  width: calc(100% / 12 * 11);
}
.col-12 {
  width: 100%;
}
